.main-chat
  .main-header
    .main-header__box
      .main-header__box__name
        = @group.name
      .main-header__box__info
        .main-header__box__menber-list Member:
        - @group.users.each do |user|
          .main-header__box__menber-list__menber
            = user.name
    .main-header__edit-btn
      = link_to 'Edit', edit_group_path(@group), class: 'btn'

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = fa_icon 'image'
          = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'input-send'